header {
  color: var(--text-primary);
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
};

svg {
  padding: 0.25rem;
}

button {
  all: unset;
  border-radius: 50%;
  aspect-ratio: 1
};