@import './../../styles/constants.scss';

:root {
  --background: #FFFFFF;
  --background-secondary: #14213D;
  --text-primary: #000000;
  --text-secondary: #FCA311;
  --accent: #14213D;
}

[data-theme='dark'] {
  --background: #000000;
  --background-secondary: #14213D;
  --text-primary: #FFFFFF;
  --text-secondary: #FCA311;
  --accent: #14213D;
}

body {
  margin: 0;
  font-family: $font;
}